**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.cache
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/build
**/dist
**/*.log
LICENSE
README.md
Hint.md
